.Base {
  display: flex;
  /* background-color: yellowgreen; */
  justify-content: space-around;
}
.In {
  width: 90%;
  /* background-color: blue; */
}

.Table {
  border: 5px solid rgb(255, 255, 255, 0);
  /* box-shadow: 1px 1px 10px 2px #888888; */
  background-image: linear-gradient(
    to bottom right,
    rgb(180, 255, 220, 0.5),
    rgb(112, 255, 219, 0.5)
  );
  box-shadow: 10px 10px 8px #88888888;
}
.Tr,
.Td {
  border: 5px solid rgb(255, 255, 255, 0);
}
.TableHead {
  font-size: larger;
  border: 0px solid #ddd;
  /* background-color: blue; */
}
.MainHead {
  font-size: 2rem;
}
.Button {
  border: 0;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0);
}
