body {
  font-family: "Droid Serif", serif;
  font-size: 14px;
  color: black;
  background-color: #f9f7f1;
  transition: all 0.7s;
}
header {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 10vh;
  text-transform: uppercase;
  display: inline-block;
  line-height: 72px;
  margin-bottom: 20px;
  transition: all 0.7s;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  transition: all 0.7s;
}
form {
  font-family: "Playfair Display", serif;
  font-size: 2.5vh;
  padding-left: 5%;
  padding-right: 5%;
  /* align-items: */
  /* background-color:yellowgreen; */
  display: flexbox;
}
button {
  font-size: 2vh;
  padding: 2%;
  font-family: "Playfair Display", serif;
  background-color: #f9f7f1;
  border-color: black;
  border-radius: 0%;
  margin-right: 1vh;
  cursor: pointer;
}
.Link {
  cursor: pointer;
  transition: all 0.7s;
}
.empty {
  border: #000000;
  background-color: #000000;
  height: 27vh;
}
.forminp {
  background-color: #f9f7f1;
  border-radius: 0%;
  width: 270px;
  height: 30px;
  padding: 2px 6px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: smaller;
  transition: all 0.7s;
}
.forminp:focus {
  outline: none;
  background-color: rgba(217, 255, 0, 0.3);
}
.formtext {
  background-color: #f9f7f1;
  border-radius: 0%;
  width: 270px;
  height: 300px;
  padding: 2px 6px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: smaller;
}

.formhead {
  text-align: left;
  line-height: normal;
  font-family: "Playfair Display", serif;
  font-size: 4vh;
  display: block;
  margin: 10 auto;
  /* background-color: yellowgreen; */
}

.head {
  text-align: center;
  position: fixed;
  /* padding: 1%; */
  top: 0;
  left: 0;
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main {
  position: inherit;
}
.subhead {
  text-transform: uppercase;
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
  padding: 12px 0 12px 0;
  transition: all 0.7s;
  background-color: #f9f7f1b2;
  backdrop-filter: blur(2px);
}
.headerobjectswrapper {
  background-color: #f9f7f1b2;
  backdrop-filter: blur(3.5px);
}
.anim {
  transition: all 0.7s;
}
.foot {
  background-color: rgba(217, 255, 0, 0.3);
  backdrop-filter: blur(3px);

  /* padding-top: 1%; */

  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.hey {
  background-color: rgba(207, 207, 207, 0.288);
  backdrop-filter: blur(5px);
  text-align: center;
  position: fixed;
  bottom: 6%;
  /* width: 90%; */
  left: 5%;
  right: 5%;
  justify-content: center;
  text-align: center;
  transition: all 0.7s;
}
.messtext {
  padding: 1%;
  border-bottom: 1px solid #0a0000;
  border-top: 1px solid #000000;
  font-size: small;
}
.messtext2 {
  justify-content: left;
  font-size: smaller;
}
.subfoot {
  /* text-align: center; */

  text-transform: uppercase;
  border-bottom: 2px solid #0a0000;
  border-top: 2px solid #000000;
  padding: 1%;
  transition: all 0.7s;
  /* background-color: yellowgreen; */
}
.het {
  background-color: yellow;
  display: flexbox;
}
.content {
  font-size: 0;
  line-height: 0;
  word-spacing: -0.31em;
  display: inline-block;
  margin: 30px 2% 0 2%;
}
.collumns {
  /* padding-top: 170px; */
  /* align-items: center; */
  /* padding-bottom: 20px; */
}

.collumn {
  /* background-color: violet; */
  font-size: 14px;
  line-height: 20px;
  width: 50%;
  display: flex;
  justify-content: center;

  align-items: center;
  /* padding: 0 1% 0 1%; */
  vertical-align: top;
  margin-bottom: 50px;
  transition: all 0.7s;
  /* background-color: violet; */
}
.collumn + .collumn {
  border-left: 1px solid #2f2f2f;
}
.collumn .headline {
  text-align: left;
  line-height: normal;
  font-family: "Playfair Display", serif;
  display: block;
  margin: 10 auto;
  /* background-color: yellowgreen; */
}
.collumn .headline.hl1 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl2 {
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl2:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl2:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 13px;
  display: block;
  margin: 0 auto;
}

.collumn .headline.hl3 {
  font-weight: 400;
  font-style: italic;
  font-size: 36px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl4 {
  font-weight: 700;
  font-size: 150%;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl4:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl4:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
}

.collumn .headline.hl5 {
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
  font-style: italic;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl6 {
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl6:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl6:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl7 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  display: block;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl8 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl9 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl10 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .citation {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  line-height: 44px;
  /*font-style: italic;*/
  text-align: center;
  font-weight: 400;
  display: block;
  margin: 40px 0 40px 0;
  font-feature-settings: "liga", "dlig";
}
.collumn .citation:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
.collumn .citation:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
.collumn .figure {
  margin: 0 0 20px;
}
.collumn .figcaption {
  font-style: italic;
  font-size: 12px;
}
.media {
  -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
  filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
  mix-blend-mode: multiply;
  width: 100%;
}
/*________________________________________________________________________________________________________________________________*/
/*MEDIAQUERIES*/
@media only all and (max-width: 1200px) {
  .collumn {
    width: 75%;
    /* background-color: blue; */
  }
  .collumns {
    /* padding-top: 200px; */
  }
}
@media only all and (max-width: 900px) {
  .collumn {
    width: 100%;
    /* background-color: red; */
  }
  .collumns {
    /* padding-top: 200px; */
  }
}
@media only all and (max-width: 600px) {
  .collumn {
    width: 100%;
    /* background-color: yellowgreen; */
  }
  .collumns {
    /* padding-top: 155px; */
  }
  .collumn + .collumn {
    border-left: none;
    border-bottom: 1px solid #2f2f2f;
  }
  header {
    max-width: 320px;
    font-size: 5vh;
    line-height: 54px;
    overflow: hidden;
  }
}
